/* common_res.css */
@charset "utf-8";
.resBtn {
  display: none;
}
@media (max-width: 1199px) {
  header .wrap {
    width: 100%;
  }
}
@media (max-width: 767px) {
  /* 스크롤바를 없애기 위한 것 */
  body.showMenu {
    overflow-y: hidden;
  }

  .resBtn {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    background-color: #ccc;
  }
  /* active를 하는 순간 상단으로 올릴 것이라는 의미 */
  .resBtn.active {
    position: fixed;
    z-index: 2;
  }
  .resBtn ul {
  }
  .resBtn ul li {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .resBtn ul li img {
    display: block;
    height: 30px;
    cursor: pointer;
  }
  .resBtn ul li:first-child img {
  }
  .resBtn ul li:last-child img {
    display: none;
  }
  .resBtn.active ul li:first-child img {
    display: none;
  }
  .resBtn.active ul li:last-child img {
    display: block;
  }

  header .wrap nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.75);
    transform: translateY(-100%);
    /* fixed라서 가능함 */
    z-index: 1;
  }
  header .wrap nav.active {
    transform: translateY(0);
    transition: transform 0.5s;
  }
  header .wrap nav ul {
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  header .wrap nav ul li {
    padding: 20px 0;
    /* margin 값을 빼야 정중앙으로 들어온다. */
    /* common.css에서 74번째 줄 last-child에서 margin-right:0을 한 게 있어서 중앙 정렬이 되지 않았다. */
    margin: 0;
  }
  header .wrap nav ul li a {
    font-size: 28px;
    font-weight: 700;
  }
  header .wrap nav ul li:hover a {
    color: #fd0;
  }
}
